<%- include('../partials/header') %>

<section id="show-page">
  <div>Game Title: </div>
  <div><%= game.title %></div>
  <div>Release Year: </div>
  <div><%= game.releaseYear %></div>
  <div>ESRB Rating: </div>
  <div><%= game.esrbRating %></div>
  <div>Console Exclusive: </div>
  <div><%= game.exclusive ? 'Yes!' : 'Nizz' %></div>
  <div>Multiplayer Capable: </div>
  <div><%= game.multiplayer ? 'Yes!' : 'Nizzly Bear' %></div>
  <div>Couch Co-Op: </div>
  <div><%= game.couchCoOp ? 'Yes!' : 'Queen ENizzabeth' %></div><br>
</section>
<br><br><h2>Reviews</h2>
<form id="review-form" method="POST"
  action="/games/<%= game._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <br>
  <label>Recommend to Players:</label>
  <h3>1 = Don't Recommend; 5 = PLAY THIS GAME TODAY!</h3>
  <select name="recommend">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3" selected>3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
<form action="/games/<%= game._id %>?_method=DELETE" class="delete-form" method="POST">
  <button type="submit">X</button>
</form>

</form>

<!-- Reviews Details below -->

<% if (game.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Player Recommendation</th>
      </tr>
    </thead>
    <tbody>
      <% game.reviews.forEach(function(g) { %>
        <tr>
          <td><%= g.createdAt.toLocaleDateString() %></td>
          <td><%= g.content %></td>
          <td><%= g.recommend %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h4>Empty Slot. Insert Memory Card?</h4>
<% } %>

<%- include('../partials/footer') %>
